<!DOCTYPE html>
<html>
<head>
 <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="../styles/UserForm.css">
    <!-- <script src="../scripts/login.js" defer></script> -->
<title>Log In</title>
</head>
<body>
 <h1>Register</h1>
    <p>Please fill all fields.</p>
    <form name="login-form" method="post" action="http://localhost:8080/WebLesson/Login">
	  <label for="email">Email:</label>
	  <input type="text" name="email"/><br/>
	  <label for="password">Password:</label>
	  <input type="password" name="password"/><br/>
	  <input type="submit" value="Register"/>
    </form>
 <a href="public/views/register.html">Register</a> 
</body>
</html>